@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    background-color: rgb(0, 0, 0);
}

.startmenu {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.startmenu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.startmenu-inner {
    position: relative;
    width: 45%;
    @media screen and (max-width: 768px) {
        width: 85%;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: "Jersey 10", sans-serif;
    font-size: 2.0em;
    text-align: center;
    color: rgb(200, 200, 200);
}

.startmenu-title {
    position: relative;
    margin-bottom: 81px;
}

.startmenu-title h1 {
    font-size: 2.5em;
    margin-bottom: -30px;
    color: rgb(50, 195, 125);
}

.startmenu-title h2 {
    font-size: 1.5em;
    color: rgb(240, 240, 240);
}

.startmenu-actions {
    margin-bottom: 79px;
}

.startmenu-info {
    font-size: 1.0em;
    color: rgb(200, 200, 200);
}

.startmenu-info a {
    color: rgb(230, 232, 85);
    text-decoration: none;
}

.startmenu-info a:hover {
    text-decoration: underline;
}

.startmenu-links {
    position: relative;
    margin-top: 63px;
}

.startmenu-links-item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.startmenu-links-item i {
    color: rgb(0, 0, 0);
}

.startmenu-links-item i.fa-github {
    color: rgb(20, 20, 20);
}

.startmenu-links-item i.fa-discord {
    color: rgb(153, 140, 222);
}

.startmenu-links-item i.fa-youtube {
    color: rgb(202, 43, 43);
}

.startmenu-links-item i.fa-video {
    color: rgb(255, 150, 55);
}

.startmenu-links-item i.fa-mastodon {
    color: rgb(123, 143, 230);
}

.startmenu-links-item i.fa-camera {
    color: rgb(215, 212, 0);
}

.startmenu-build-type {
    position: relative;
    margin-top: 50px;
    color: rgb(255, 132, 132);
}

.action-go-back {
    position: fixed;
    z-index: 5;
    top: 10px;
    left: 10px;
}

.action-go-back-inner {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: rgb(80, 80, 80);
    border-radius: 50%;
}

.action-go-back-inner a {
    color: rgb(200, 200, 200);
}

.action-go-back-inner a:hover {
    color: rgb(230, 230, 230);
}

.highscore {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.highscore-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.highscore-inner {
    position: relative;
    width: 45%;
    @media screen and (max-width: 768px) {
        width: 85%;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: "Jersey 10", sans-serif;
    font-size: 1.76em;
    text-align: center;
    color: rgb(200, 200, 200);
}

.highscore-list {
    position: relative;
    margin-top: 20px;
    margin-bottom: 69px;
}

.highscore-selection {
    margin-bottom: 35px;
}

.highscore-selection, .highscore-selection a {
    color: rgb(255, 205, 69)
}

.highscore-selection a {
    text-decoration: none;
}

.highscore-selection a:hover {
    text-decoration: underline;
}

.highscore-delimiter {
    margin-left: 20px;
    margin-right: 20px;
}

.highscore-item {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.highscore-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.highscore-item-player {
    position: relative;
    display: inline-block;
    width: 89%;
    @media screen and (max-width: 777px) {
        width: 83%;
    }
    text-align: left;
    color: rgb(102, 243, 100);
}

.highscore-item-score {
    position: relative;
    display: inline-block;
    width: 10%;
    text-align: right;
    color: rgb(253, 232, 111);
}

a.button {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

a.button:hover {
    text-decoration: none;
}

.button-start {
    background-color: rgb(32, 179, 111);
}

.button-start:hover {
    background-color: rgb(50, 195, 125);
}

.button-scores {
    background-color: rgb(40, 150, 223);
}

.button-scores:hover {
    background-color: rgb(30, 155, 243);
}

.button-back {
    background-color: rgb(231, 234, 52);
    color: rgb(50, 50, 50) !important;
}

.button-back:hover {
    background-color: rgb(242, 245, 81);
    color: rgb(50, 50, 50);
}

.button-save {
    background-color: rgb(32, 179, 111);
}

.button-save:hover {
    background-color: rgb(50, 195, 125);
}

.prompt-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.95);
}

.prompt-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Jersey 10", sans-serif;
    font-size: 2.0em;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.prompt-title {
    margin-bottom: 10px;
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.prompt-input {
    margin-bottom: 10px;
    padding: 20px;
}

.prompt-input input {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: rgb(200, 200, 200);
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 15px;
}

.prompt-input input:hover, .prompt-input input:focus-visible {
    border: 1px solid rgb(150, 150, 150);
}

.prompt-action {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.is-hidden {
    display: none;
}